.presentationContainer {
  padding-top: 10vh;

  @media screen and (max-width: 1000px) {
    padding-top: 0;
  }
  .textContainer {
    width: 80%;
    margin: 0 auto;
    animation: showup 10s forwards;
    animation-delay: 20s;
    padding-bottom: 20px;
    font-size: 1.3rem;
  }

  @keyframes showup {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .CvContainer {
    background: var(--mainColor);
    border: none;
    padding: 10px 20px;
    border-radius: var(--bdRadius-md);

    a {
      color: var(--white);
    }
  }
}
