.contactContainer {
  padding-top: 20vh;
  h2 {
    font-size: 1.8rem;
    padding: 30px 0 15px 0;
  }

  @media screen and (max-width) {
    padding-top: 5vh;
  }
  .container {
    padding: 20px;
    .textContainer {
      display: flex;
      width: 80%;
      margin: 0 auto;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      .mail,
      .tel,
      .address {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        border-radius: var(--bdRadius-md);
        font-size: 0.6em;
        transition: all 0.3s ease;

        @media screen and (max-width: 1000px) {
          width: 90%;
        }
      }
      .mail span,
      .tel span {
        transition: opacity 0.1s ease;
      }

      .mail a,
      .tel a {
        transition: transform 0.3s ease;
      }

      .mail:hover a,
      .tel:hover a {
        transform: scale(1.1);
        color: var(--mainColor);
      }

      .mail:hover span,
      .tel:hover span {
        opacity: 0;
      }
    }
  }
  .copyright {
    display: flex;
    font-size: 0.5em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
  }
}
