.experienceCardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 60%;
  border: 1px var(--mainColor) solid;
  border-radius: var(--bdRadius-md);
  padding: 10px;
  opacity: 0;
  transform: translateX(0);
  transition: transform 1s ease-out, opacity 1s ease-out;

  @media screen and (max-width: 1000px) {
    width: 70%;
  }
  &.show {
    opacity: 1;
  }

  &.fromLeft {
    transform: translateX(-50%);
  }

  &.fromRight {
    transform: translateX(50%);
  }

  &.show.fromLeft,
  &.show.fromRight {
    transform: translateX(0);
  }

  .date {
    font-size: 1.8rem;
  }

  .title {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--mainColor);
  }
  .liste {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }
  .item {
    font-size: 1.2rem;
  }
}
