.langageIconContainer {
  padding-top: 20vh;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin: 0 auto;

  @media screen and (max-width: 1000px) {
    padding-top: 5vh;
  }
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .scrollingDiv {
    display: flex;
    animation: scroll 30s linear infinite;
  }
}
